Repository dhis2/dhis2-core, pull requests merged in 2018-11, with the labels that each got.

#2484 Flyway integration, ported v31 Migrations and Cleaned up startup routines
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/common/IdentityPopulator.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/startup/InitTableAlteror.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/startup/TableAlteror.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/trackedentity/startup/TableAlteror.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/META-INF/dhis/beans.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/message/hibernate/Message.hbm.xml
  dhis-2/dhis-services/dhis-service-reporting/src/main/resources/META-INF/dhis/beans.xml
  dhis-2/dhis-support/dhis-support-db-migration/pom.xml
  dhis-2/dhis-support/dhis-support-db-migration/src/main/java/org/hisp/dhis/db/migration/base/V2_30_0__Populate_dhis2_schema_if_empty_database.java
  dhis-2/dhis-support/dhis-support-db-migration/src/main/java/org/hisp/dhis/db/migration/helper/JdbcSqlFileExecutor.java
  dhis-2/dhis-support/dhis-support-db-migration/src/main/java/org/hisp/dhis/db/migration/helper/NoOpFlyway.java
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/META-INF/dhis/beans.xml
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/base/dhis2_base_schema.sql
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.31/V2_31_1__Table_alterations_for_31.sql
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.31/V2_31_2__Option_sharing_menu.sql
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.31/V2_31_3__DataStore_sharing_menu.sql
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.31/V2_31_4__Create_chart_yearlyseries_table.sql
  dhis-2/dhis-support/dhis-support-external/src/main/java/org/hisp/dhis/external/conf/ConfigurationKey.java
  dhis-2/dhis-support/dhis-support-hibernate/pom.xml
  dhis-2/dhis-support/dhis-support-hibernate/src/main/java/org/hisp/dhis/hibernate/DefaultHibernateConfigurationProvider.java
  dhis-2/dhis-support/dhis-support-hibernate/src/main/resources/META-INF/dhis/beans.xml
  dhis-2/dhis-support/dhis-support-hibernate/src/main/resources/hibernate-default.properties
  dhis-2/dhis-support/dhis-support-test/src/main/java/org/hisp/dhis/DhisSpringTest.java
  dhis-2/dhis-support/dhis-support-test/src/main/resources/h2TestConfig.conf
  dhis-2/dhis-support/pom.xml
  dhis-2/pom.xml
Labels: Ready for review

#2506 Added startdate enddate to reporttable
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.31/V2_31_4__Chart_yearlyseries_and_report_table.sql
Labels: Ready for review

#2492 [WIP] scans program rule condition to filter OrgUnitGroups
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/ProgramRuleAction.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/ProgramRuleActionType.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/ProgramRuleService.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/ProgramRuleStore.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/engine/ProgramRuleEntityMapperService.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/programrule/hibernate/ProgramRule.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/programrule/hibernate/ProgramRuleAction.hbm.xml
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/DefaultProgramRuleService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/DefaultProgramRuleEntityMapperService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/ProgramRuleEngine.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/RuleActionAssignValueImplementer.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/RuleActionScheduleMessageImplementer.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/RuleActionSendMessageImplementer.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/hibernate/HibernateProgramRuleStore.java
  dhis-2/dhis-services/dhis-service-program-rule/src/test/java/org/hisp/dhis/programrule/ProgramRuleServiceTest.java
  dhis-2/dhis-services/dhis-service-program-rule/src/test/java/org/hisp/dhis/programrule/engine/ProgramRuleEngineTest.java
  dhis-2/dhis-services/dhis-service-program-rule/src/test/java/org/hisp/dhis/programrule/engine/ProgramRuleEntityMapperServiceTest.java
  dhis-2/dhis-support/dhis-support-db-migration/src/main/java/org/hisp/dhis/db/migration/v31/V2_31_10__Program_notification_template_to_templateid.java
Labels: enhancement

#2568 Corrected message attachments table name
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/fileresource/MessageAttachmentDeletionHandler.java
Labels: Ready for review

#2562 Use custom node scripts and Git to fetch apps to bundle, supports cached apps
  dhis-2/dhis-web/dhis-web-apps/apps-to-bundle.json
  dhis-2/dhis-web/dhis-web-apps/package.json
  dhis-2/dhis-web/dhis-web-apps/pom.xml
  dhis-2/dhis-web/dhis-web-apps/scripts/bundle-apps.js
  dhis-2/dhis-web/dhis-web-apps/scripts/git.js
  dhis-2/dhis-web/dhis-web-apps/scripts/lib/sanitize.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-bundle-json.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-index-html.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-struts-xml.js
  dhis-2/dhis-web/dhis-web-apps/src/main/resources/struts.xml
  dhis-2/dhis-web/dhis-web-apps/src/main/webapp/dhis-web-apps/template.html
Labels: webapp

#2566 Node scripts to install v31
  dhis-2/dhis-web/dhis-web-apps/apps-to-bundle.json
  dhis-2/dhis-web/dhis-web-apps/package-lock.json
  dhis-2/dhis-web/dhis-web-apps/package.json
  dhis-2/dhis-web/dhis-web-apps/pom.xml
  dhis-2/dhis-web/dhis-web-apps/scripts/bundle-apps.js
  dhis-2/dhis-web/dhis-web-apps/scripts/git.js
  dhis-2/dhis-web/dhis-web-apps/scripts/lib/sanitize.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-bundle-json.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-index-html.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-struts-xml.js
  dhis-2/dhis-web/dhis-web-apps/src/main/resources/struts.xml
  dhis-2/dhis-web/dhis-web-apps/src/main/webapp/dhis-web-apps/template.html
Labels: webapp

#2565 Node scripts to install v30
  dhis-2/dhis-web/dhis-web-apps/apps-to-bundle.json
  dhis-2/dhis-web/dhis-web-apps/package-lock.json
  dhis-2/dhis-web/dhis-web-apps/package.json
  dhis-2/dhis-web/dhis-web-apps/pom.xml
  dhis-2/dhis-web/dhis-web-apps/scripts/bundle-apps.js
  dhis-2/dhis-web/dhis-web-apps/scripts/git.js
  dhis-2/dhis-web/dhis-web-apps/scripts/lib/sanitize.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-bundle-json.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-index-html.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-struts-xml.js
  dhis-2/dhis-web/dhis-web-apps/src/main/resources/struts.xml
  dhis-2/dhis-web/dhis-web-apps/src/main/webapp/dhis-web-apps/template.html
Labels: webapp

#2564 Node scripts to install v29
  dhis-2/dhis-web/dhis-web-apps/apps-to-bundle.json
  dhis-2/dhis-web/dhis-web-apps/package-lock.json
  dhis-2/dhis-web/dhis-web-apps/package.json
  dhis-2/dhis-web/dhis-web-apps/pom.xml
  dhis-2/dhis-web/dhis-web-apps/scripts/bundle-apps.js
  dhis-2/dhis-web/dhis-web-apps/scripts/git.js
  dhis-2/dhis-web/dhis-web-apps/scripts/lib/sanitize.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-bundle-json.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-index-html.js
  dhis-2/dhis-web/dhis-web-apps/scripts/write-struts-xml.js
  dhis-2/dhis-web/dhis-web-apps/src/main/resources/struts.xml
  dhis-2/dhis-web/dhis-web-apps/src/main/webapp/dhis-web-apps/template.html
Labels: webapp
