Repository dhis2/dhis2-core, pull requests merged in 2021-04, with the labels that each got.

#7802 fix: DHIS2-10177: Make old Axes elements read-only
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/AxisV2.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/CompatibilityGuard.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/Visualization.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/VisualizationFontStyle.java
  dhis-2/dhis-api/src/test/java/org/hisp/dhis/visualization/CompatibilityGuardTest.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/visualization/hibernate/Visualization.hbm.xml
  dhis-2/dhis-services/dhis-service-dxf2/src/test/java/org/hisp/dhis/dxf2/metadata/objectbundle/ObjectBundleServiceFavoritesTest.java
  dhis-2/dhis-services/dhis-service-dxf2/src/test/resources/dxf2/favorites/metadata_with_visualization.json
Labels: run-api-tests

#7803 feat: Add event_date support to program stage notification template [DHIS2-10831]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/program/notification/ProgramStageTemplateVariable.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/notification/ProgramStageNotificationMessageRenderer.java
  dhis-2/dhis-services/dhis-service-core/src/test/java/org/hisp/dhis/notification/ProgramNotificationMessageRendererTest.java
Labels: run-api-tests

#7807 refactor: Clean up metadata and relations validation hooks [TECH-579]
  dhis-2/dhis-e2e-test/src/test/java/org/hisp/dhis/tracker/importer/RuleEngineTests.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/config/TrackerValidationConfig.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/programrule/implementers/SetMandatoryFieldValidator.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/EventDataValuesValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckDataRelationsValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckMetaValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckSecurityValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/ValidationUtils.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/programrule/SetMandatoryFieldValidatorTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/EventImportValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/PreCheckMetaValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_orgunit-mismatch.json
Labels: run-api-tests

#7714 fix: thread-safety and memory leakage in scheduling manager
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/scheduling/DefaultSchedulingManager.java
Labels: run-api-tests

#7814 fix: DHIS2-10766: api test fix
  dhis-2/dhis-e2e-test/src/test/resources/setup/metadata.json
Labels: run-api-tests

#7811 refactor: Clean up redundant integration tests for validation hooks [TECH-579]
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/TrackerImportValidationContext.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckExistenceValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/RelationshipsValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/AssignedUserValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/EnrollmentImportValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/EventImportValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/RelationshipStubs.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/TrackedEntityImportValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/EnrollmentNoteValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/PreCheckExistenceValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/RelationshipsValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_bad-geo-missing-featuretype.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_bad-geo-missing-geotype.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_bad-geo.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_error-dates-future.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_error-dates-missing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_error-displayIncident-missing-occurredAt.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_error-orgunit-missing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_error-program-missing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_te_enrollments-data-soft_deleted_test.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/enrollments_te_invalid-uid.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/event_with_wrong_de_for_data_value.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-invalid-uid-format.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-missing-date.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-missing-schedule-date_part1.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-missing-schedule-date_part2.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-no-completed-date.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-orgunit-missing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-program-pstage-missing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-pstage-missing-isreg.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_tei-multiple-enrollments-in-non-reg-program.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_tei-multiple-enrollments.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-data_error_orgunit-non-existing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-data_error_orgunit-null.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-data_error_teType-non-existing.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-data_invalid_uids.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-data_ok_soft_deleted_test.json
Labels: run-api-tests

#7816 fix: Use correct error message for mandatory data element [TECH-579]
  dhis-2/dhis-e2e-test/src/test/java/org/hisp/dhis/tracker/importer/RuleEngineTests.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/programrule/implementers/SetMandatoryFieldValidator.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/programrule/SetMandatoryFieldValidatorTest.java
Labels: run-api-tests

#7815 fix: Use correct error message for mandatory data element [TECH-579]
  dhis-2/dhis-e2e-test/src/test/java/org/hisp/dhis/tracker/importer/RuleEngineTests.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/programrule/implementers/SetMandatoryFieldValidator.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/programrule/SetMandatoryFieldValidatorTest.java
Labels: run-api-tests

#7833 fix: DHIS2-10766: Remove unnecessary 'group by' causing duplicated rows
  dhis-2/dhis-e2e-test/src/test/resources/setup/metadata.json
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataElementQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramIndicatorQuery.java
Labels: run-api-tests

#7838 fix: [DHIS2-10870] Check unique attribute filters in attribute params in addition to filter param (2.37)
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/trackedentity/TrackedEntityInstanceQueryParams.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/trackedentity/DefaultTrackedEntityInstanceService.java
  dhis-2/dhis-services/dhis-service-core/src/test/java/org/hisp/dhis/trackedentityinstance/TrackedEntityInstanceQueryTest.java
Labels: Ready for review, run-api-tests

#7804 fix: [WIP] Run rule engine only for associated program stages [DHIS2-10822]
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/ImplementableRuleService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/NotificationImplementableRuleService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/ProgramRuleEngine.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/ServerSideImplementableRuleService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/hibernate/HibernateProgramRuleStore.java
  dhis-2/dhis-support/dhis-support-system/src/main/java/org/hisp/dhis/cache/CacheProvider.java
  dhis-2/dhis-support/dhis-support-system/src/main/java/org/hisp/dhis/cache/DefaultCacheProvider.java
Labels: run-api-tests

#7846 fix: Reduce user related caches expiration time to 1 hour [DHIS2-10866]
  dhis-2/dhis-support/dhis-support-system/src/main/java/org/hisp/dhis/cache/DefaultCacheProvider.java
Labels: run-api-tests

#7842 feature: Review fields in domain objects and create updatable fields validator [DHIS2-10875]
  dhis-2/dhis-e2e-test/src/test/resources/tracker/importer/enrollments/enrollment.json
  dhis-2/dhis-e2e-test/src/test/resources/tracker/importer/teis/teisWithEnrollmentsAndEvents.json
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/config/TrackerValidationConfig.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/EnrollmentTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/EventTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/TrackedEntityTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/Enrollment.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/Event.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/TrackedEntity.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckDataRelationsValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckUpdatableFieldsValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/PreCheckUpdatableFieldsValidationHookTest.java
Labels: run-api-tests

#7864 fix: NPE for sharing in SharingController
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/user/sharing/Sharing.java
Labels: run-api-tests

#7878 feat: Remove tracked entity field from event [DHIS2-10875]
  dhis-2/dhis-e2e-test/src/test/java/org/hisp/dhis/tracker/importer/events/EventsTests.java
  dhis-2/dhis-e2e-test/src/test/resources/tracker/importer/teis/teisWithEnrollmentsAndEvents.json
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/TrackerIdentifierCollector.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/EventTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/Event.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/mapper/EventMapper.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/preprocess/EventDefaultEnrollmentPreProcessor.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/PreCheckDataRelationsValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/preprocess/EventDefaultEnrollmentPreProcessorTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/EnrollmentImportValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/EventImportValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/one_update_and_one_new_and_one_invalid_event.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/one_update_event_and_one_new_event.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-data.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-with-notes-data-add.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-with-notes-update-data.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-with-ou-not-in-program.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-with_invalid_option_value.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events-with_valid_option_value.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_cant-find-cat-opt-combo.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_cant-find-cat-option-combo-set.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_cant-find-cat-option.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_combo-date-wrong.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-missing-tei.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-no-programStage-access.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-no-uncomplete.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-no-wrong-date.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-not-enrolled.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-pstage-missing-withoutreg.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_error-pstage-program-different.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_non-default-combo.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_non-repeatable-programstage_part1.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_non-repeatable-programstage_part2.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/events_tei-not-enrolled.json
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/tracker/TrackerBundleParamsConverter.java
Labels: run-api-tests

#7824 fix: sharing is overwritten with mergeMode=MERGE
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/adapter/BaseIdentifiableObject_.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/util/SharingUtils.java
  dhis-2/dhis-services/dhis-service-dxf2/src/test/java/org/hisp/dhis/dxf2/metadata/MetadataImportServiceTest.java
  dhis-2/dhis-services/dhis-service-dxf2/src/test/resources/dxf2/dataset_with_accesses_merge_mode.json
  dhis-2/dhis-services/dhis-service-schema/src/main/java/org/hisp/dhis/schema/DefaultMergeService.java
Labels: run-api-tests

#7875 test: Validate data element part of program event analytics [DHIS2-10908]
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/event/data/queryItem/QueryItemLocatorTest.java
Labels: Ready for review, run-api-tests

#7886 fix: NPE in ProgramRule deletion hook
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/ProgramRuleDeletionHandler.java
Labels: run-api-tests

#7880 fix: [DHIS2-10797] Fix remove null values for tracker attributes and data values 2.37
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/EnrollmentAttributeValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/EventDataValuesValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/TeTaValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/EnrollmentAttributeValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/EventDataValuesValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/tracker_basic_metadata_mandatory_attr.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-program-with-tea-mandatory-image.json
Labels: run-api-tests

#7892 fix: [DHIS2-10797] Fix remove null values for tracker attributes and data values 2.36
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/EnrollmentAttributeValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/EventDataValuesValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/TeTaValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/EnrollmentAttributeValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/EventDataValuesValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/tracker_basic_metadata_mandatory_attr.json
  dhis-2/dhis-services/dhis-service-tracker/src/test/resources/tracker/validations/te-program-with-tea-mandatory-image.json
Labels: run-api-tests

#7890 fix: DHIS2-10945: Sorting issue causing invalid SQL (2.36)
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataElementQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataItemQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataSetQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/IndicatorQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramAttributeQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramIndicatorQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramStageDataElementQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/QueryExecutor.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ResultProcessor.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/FilteringStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/LimitStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/NameTranslationStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/OrderingStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/ParamPresenceChecker.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/StatementUtil.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/UserAccessStatement.java
  dhis-2/dhis-services/dhis-service-core/src/test/java/org/hisp/dhis/dataitem/query/shared/FilteringStatementTest.java
  dhis-2/dhis-services/dhis-service-core/src/test/java/org/hisp/dhis/dataitem/query/shared/NameTranslationStatementTest.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/DataItemQueryController.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/DataItemServiceFacade.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/ResponseHandler.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/helper/OrderingHelper.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/DataItemQueryControllerTest.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/DataItemServiceFacadeTest.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/ResponseHandlerTest.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/helper/OrderingHelperTest.java
Labels: run-api-tests

#7909 fix: remove workaround fix for sharing in AbstractCrudController [2.36]
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/AbstractCrudController.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/mapping/MapController.java
Labels: run-api-tests

#7910 fix: remove workaround fix for sharing in AbstractCrudController [2.36.0]
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/AbstractCrudController.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/mapping/MapController.java
Labels: run-api-tests

#7917 fix: DHIS2-10945: e2e failing test
  dhis-2/dhis-e2e-test/src/test/resources/setup/metadata.json
Labels: run-api-tests

#7911 fix: remove workaround fix for sharing in AbstractCrudController
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/AbstractCrudController.java
Labels: run-api-tests

#7905 [TECH-454] DB access in TrackedEntityAttributeValidationHook 2.37
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/TeTaValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/TrackerValidationHookServiceTest.java
Labels: run-api-tests

#7916 fix: add createdBy field to hbm files [2.36.0]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/schema/transformer/UserPropertyTransformer.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/category/hibernate/Category.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/option/hibernate/OptionGroup.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/option/hibernate/OptionGroupSet.hbm.xml
  dhis-2/dhis-services/dhis-service-validation/src/main/resources/org/hisp/dhis/validation/hibernate/ValidationRule.hbm.xml
  dhis-2/dhis-services/dhis-service-validation/src/main/resources/org/hisp/dhis/validation/hibernate/ValidationRuleGroup.hbm.xml
Labels: run-api-tests

#7921 [TECH-454] DB access in TrackedEntityAttributeValidationHook 2.36
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/report/TrackerErrorCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHook.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/TeTaValidationTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/TrackedEntityAttributeValidationHookTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/validation/hooks/TrackerValidationHookServiceTest.java
Labels: run-api-tests

#7813 test: adds test for metadata import with code identifier (DHIS2-9966)
  dhis-2/dhis-e2e-test/src/test/java/org/hisp/dhis/metadata/metadata_import/MetadataImportImportStrategyTests.java
  dhis-2/dhis-e2e-test/src/test/java/org/hisp/dhis/metadata/metadata_import/MetadataImportTest.java
  dhis-2/dhis-e2e-test/src/test/resources/setup/metadata.json
  dhis-2/dhis-e2e-test/src/test/resources/setup/userGroups.json
Labels: run-api-tests

#7903 2.37 dhis2 4361 cascade delete of interpretations
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/interpretation/InterpretationService.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/interpretation/InterpretationStore.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/interpretation/hibernate/HibernateInterpretationStore.java
  dhis-2/dhis-services/dhis-service-reporting/src/main/java/org/hisp/dhis/interpretation/InterpretationDeletionHandler.java
  dhis-2/dhis-services/dhis-service-reporting/src/main/java/org/hisp/dhis/interpretation/impl/DefaultInterpretationService.java
Labels: Ready for review

#7920 fix: regression test failed [DHIS2-5001]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/ValueType.java
  dhis-2/dhis-api/src/test/java/org/hisp/dhis/common/ValueTypeTest.java
Labels: Ready for review

#7923 feat: Add createdBy and updatedBy to tracker objects in new tracker importer [DHIS2-10885]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/program/ProgramInstance.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/trackedentity/TrackedEntityInstance.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/program/hibernate/ProgramInstance.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/trackedentity/hibernate/TrackedEntityInstance.hbm.xml
  dhis-2/dhis-services/dhis-service-dxf2/src/main/java/org/hisp/dhis/dxf2/events/enrollment/AbstractEnrollmentService.java
  dhis-2/dhis-services/dhis-service-dxf2/src/main/java/org/hisp/dhis/dxf2/events/enrollment/Enrollment.java
  dhis-2/dhis-services/dhis-service-dxf2/src/main/java/org/hisp/dhis/dxf2/events/trackedentity/AbstractTrackedEntityInstanceService.java
  dhis-2/dhis-services/dhis-service-dxf2/src/main/java/org/hisp/dhis/dxf2/events/trackedentity/TrackedEntityInstance.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/config/TrackerPreheatConfig.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/EnrollmentTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/EventTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/converter/TrackedEntityTrackerConverterService.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/Enrollment.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/Event.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/TrackedEntity.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/mapper/EnrollmentMapper.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/mapper/EventMapper.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/domain/mapper/TrackedEntityMapper.java
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.37/V2_37_9__Add_createdbyuserInfo_lastupdatedbyuserinfo_to_ProgramInstance_and_TrackedEntityInstance.sql
Labels: run-api-tests

#7929 fix: Fix flyway scripts name conflict
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.37/V2_37_10__Add_createdbyuserInfo_lastupdatedbyuserinfo_to_ProgramInstance_and_TrackedEntityInstance.sql
Labels: run-api-tests

#7739 fix: Make old Axes elements read-only [DHIS2-10177]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/AxisV2.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/CompatibilityGuard.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/Visualization.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/visualization/VisualizationFontStyle.java
  dhis-2/dhis-api/src/test/java/org/hisp/dhis/visualization/CompatibilityGuardTest.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/visualization/hibernate/Visualization.hbm.xml
  dhis-2/dhis-services/dhis-service-dxf2/src/test/java/org/hisp/dhis/dxf2/metadata/objectbundle/ObjectBundleServiceFavoritesTest.java
  dhis-2/dhis-services/dhis-service-dxf2/src/test/resources/dxf2/favorites/metadata_with_visualization.json
Labels: run-api-tests

#7907 fix: DHIS2-10945: Sorting issue causing invalid SQL
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataElementQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataItemQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/DataSetQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/IndicatorQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramAttributeQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramIndicatorQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ProgramStageDataElementQuery.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/QueryExecutor.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/ResultProcessor.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/FilteringStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/LimitStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/NameTranslationStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/OrderingStatement.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/ParamPresenceChecker.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/StatementUtil.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dataitem/query/shared/UserAccessStatement.java
  dhis-2/dhis-services/dhis-service-core/src/test/java/org/hisp/dhis/dataitem/query/shared/FilteringStatementTest.java
  dhis-2/dhis-services/dhis-service-core/src/test/java/org/hisp/dhis/dataitem/query/shared/NameTranslationStatementTest.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/DataItemQueryController.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/DataItemServiceFacade.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/ResponseHandler.java
  dhis-2/dhis-web/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/dataitem/helper/OrderingHelper.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/DataItemQueryControllerTest.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/DataItemServiceFacadeTest.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/ResponseHandlerTest.java
  dhis-2/dhis-web/dhis-web-api/src/test/java/org/hisp/dhis/webapi/controller/dataitem/helper/OrderingHelperTest.java
Labels: run-api-tests

#7866 fix: DHIS2-10871: Fixing report rate calculation for 'single periods'
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/handler/DataHandler.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/util/ReportRatesHelper.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/util/ReportRatesHelperTest.java
Labels: run-api-tests

#7598 ci: run api tests unless explicitly skipped
  .github/workflows/run-api-tests.yml
Labels: skip-api-tests
