Repository dhis2/dhis2-core, pull requests merged in 2024-06, with the labels that each got.

#17680 fix: skip index for eventdatavalues [DHIS2-17508]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/table/JdbcTeiEventsAnalyticsTableManager.java
Labels: run-api-analytics-tests

#17682 fix: skip index for eventdatavalues [DHIS2-17508] [2.41]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/table/JdbcTeiEventsAnalyticsTableManager.java
Labels: run-api-analytics-tests

#17683 fix: Load PR with all PRA and filter later [DHIS2-17470]
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/DefaultProgramRuleEntityMapperService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/NotificationRuleActionImplementer.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/RuleActionKey.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/RuleActionScheduleMessageImplementer.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/engine/RuleActionSendMessageImplementer.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/hibernate/HibernateProgramRuleStore.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/programrule/ProgramRuleServiceTest.java
Labels: deploy

#17719 test: New e2e for TE API [DHIS2-17468]
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/Main.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/test-urls.txt
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery3AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery4AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery5AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TrackedEntityQueryTest.java
Labels: run-api-analytics-tests

#17735 fix: Retrieve linked DE and TEA using SQL [DHIS2-17470]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/ProgramRuleService.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/programrule/ProgramRuleStore.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/DefaultProgramRuleService.java
  dhis-2/dhis-services/dhis-service-program-rule/src/main/java/org/hisp/dhis/programrule/hibernate/HibernateProgramRuleStore.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/imports/TrackerIdentifierCollector.java
Labels: deploy

#17741 fix: multiple option set in TE filter [DHIS2-17258] [2.41] (#17311)
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/tei/query/DataElementWithLegendSetCondition.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/tei/query/context/sql/SqlQueryCreatorService.java
Labels: run-api-analytics-tests

#17758 test: more consistent TE e2e [DHIS2-14884]
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery4AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery5AutoTest.java
Labels: run-api-analytics-tests

#17823 fix: throws exception for invalid dates [DHIS2-17539]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/DimensionalObjectProducer.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TrackedEntityQueryTest.java
Labels: run-api-analytics-tests

#17822 fix: data entry audit history audit type column lookup [DHIS2-16887] (2.38.7)
  dhis-2/dhis-web/dhis-web-dataentry/src/main/webapp/dhis-web-dataentry/history.vm
Labels: deploy

#17854 fix: throws exception for invalid dates [DHIS2-17539] [2.41] (#17823)
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/DimensionalObjectProducer.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TrackedEntityQueryTest.java
Labels: run-api-analytics-tests

#17902 fix: respect same order of periods in the requests for meta.dimensions.pe [DHIS2-16265]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/processing/MetadataDimensionsHandler.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/DimensionalObjectProducer.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/handler/MetadataHandler.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/outlier/service/AnalyticsOutlierService.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/data/DimensionalObjectProducerTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/EventDataQueryServiceTest.java
Labels: run-api-tests, run-api-analytics-tests

#17915 fix: fixes period order in TE endpoint [DHIS2-16265]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/params/CommonParamsDelegator.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/processing/MetadataDimensionsHandler.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery4AutoTest.java
Labels: run-api-tests, run-api-analytics-tests
