Repository dhis2/dhis2-core, pull requests merged in 2024-07, with the labels that each got.

#17882 chore: Sonar - remove unused code
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/IdentifiableObjectManager.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/common/DefaultIdentifiableObjectManager.java
Labels: sonar

#17783 test: New e2e for TE API [DHIS2-17468]
  dhis-2/dhis-test-e2e/.gitignore
  dhis-2/dhis-test-e2e/README.md
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/Generator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/GeneratorHelper.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/Main.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/TestGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/AnalyticsAggregatedGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/EnrollmentAggregatedGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/EnrollmentQueryGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/EventAggregatedGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/EventQueryGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/OutlierDetectionGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/impl/TeiQueryGenerator.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/aggregated.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/enroll-aggregated.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/enroll-query.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/event-aggregated.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/event-query.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/outlier-detection.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/te-query.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/test-urls.txt
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery6AutoTest.java
Labels: run-api-analytics-tests

#17914 fix: User analysis org is refered to user capturing org in /analytics[2.42-DHIS2-13498]
  .github/workflows/run-api-analytics-tests.yml
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/DataQueryRequest.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/DataQueryService.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/DefaultDataQueryService.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv1AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv2AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv4AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv6AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/dataitems/DataItemQueryTests.java
  dhis-2/dhis-test-e2e/src/test/resources/setup/metadata.json
Labels: run-api-analytics-tests

#17971 chore: remove tracker capture app from menu and translations DHIS2-17701
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/appmanager/AppManager.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ar.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ar_IQ.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_bn.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ckb.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_cs.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_da.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_es.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_es_419.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_fr.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_id.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_km.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_lo.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_my.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_nb.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ne.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_nl.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_or.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_prs.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ps.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_pt.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_pt_BR.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ro.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ru.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_si.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_sv.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_tet.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_tg.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_uk.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ur.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_uz_UZ_Cyrl.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_uz_UZ_Latn.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_vi.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_zh.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_zh_CN.properties
  dhis-2/dhis-test-e2e/src/test/resources/setup/userRoles.json
  dhis-2/dhis-test-e2e/src/test/resources/tracker/acl/metadata.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/eventreport_with_program_indicator.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/metadata_with_program_and_program_rules_with_invalid_ruleActions.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/metadata_with_program_and_program_rules_with_valid_ruleActions.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/metadata_with_program_and_programrules.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/simple_metadata.json
  dhis-2/dhis-test-web-api/src/test/resources/dashboard/create_dashboard.json
  dhis-2/dhis-test-web-api/src/test/resources/dashboard/create_dashboard_non_accessible_visualization.json
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/security/config/DhisWebApiWebSecurityConfig.java
Labels: deploy

#18012 fix: Remove legend, legendset and legendsetindicators tables [DHIS2-17606]
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.42/V2_42_9__Remove_legendset_tables.sql
Labels: run-api-analytics-tests

#18032 test: More e2e tests in analytics [DHIS2-17468]
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/enrollment/query/EnrollmentsQuery4AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/event/query/EventsQuery3AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/enroll-query.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/event-query.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/te-query.json
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/tei/TeiQuery7AutoTest.java
Labels: run-api-analytics-tests

#18037 chore: remove unused authority F_IGNORE_TRACKER_REQUIRED_VALUE_VALIDATION DHIS2-17703
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/security/Authorities.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ar.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ar_IQ.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_bn.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ckb.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_cs.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_da.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_es.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_es_419.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_fr.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_id.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_km.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_lo.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_my.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_nb.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ne.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_nl.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_or.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_prs.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ps.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_pt.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_pt_BR.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ro.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ru.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_si.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_sv.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_tet.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_tg.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_uk.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_ur.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_uz_UZ_Cyrl.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_uz_UZ_Latn.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_vi.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_zh.properties
  dhis-2/dhis-services/dhis-service-core/src/main/resources/i18n_global_zh_CN.properties
  dhis-2/dhis-support/dhis-support-db-migration/src/main/resources/org/hisp/dhis/db/migration/2.42/V2_42_9__Remove_old_tracker_authority.sql
  dhis-2/dhis-test-e2e/src/test/resources/tracker/acl/metadata.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/eventreport_with_program_indicator.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/metadata_with_program_and_program_rules_with_invalid_ruleActions.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/metadata_with_program_and_program_rules_with_valid_ruleActions.json
  dhis-2/dhis-test-integration/src/test/resources/dxf2/metadata_with_program_and_programrules.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/event_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/identifier_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/ownership_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/simple_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/te_program_with_tea_allow_audit_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/te_program_with_tea_encryption_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/te_program_with_tea_fileresource_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/te_program_with_tea_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/te_with_tea_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/tracker_basic_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/tracker_basic_metadata_mandatory_attr.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/tracker_metadata_with_program_rules.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/tracker_metadata_with_program_rules_variables.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/validations/te-program-with-tea-mandatory-image.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/validations/te-program_with_tea_encryption_metadata.json
  dhis-2/dhis-test-integration/src/test/resources/tracker/validations/te-program_with_tea_fileresource_metadata.json
Labels: deploy

#18013 fix: respect same order of periods in the requests for meta.dimensions.pe [DHIS2-16265] [2.41]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/params/CommonParamsDelegator.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/processing/MetadataDimensionsHandler.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/DimensionalObjectProducer.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/handler/MetadataHandler.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/outlier/service/AnalyticsOutlierService.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/data/DimensionalObjectProducerTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/EventDataQueryServiceTest.java
Labels: run-api-analytics-tests

#17993 fix: supports proper translation for more weekly period types [DHIS2-16762]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/i18n/I18nFormat.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv9AutoTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/i18n/I18nFormatTest.java
Labels: run-api-analytics-tests

#18047 fix: supports proper translation for more weekly period types [DHIS2-16762] [2.40]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/i18n/I18nFormat.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv9AutoTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/i18n/I18nFormatTest.java
Labels: run-api-analytics-tests

#18046 fix: supports proper translation for more weekly period types [DHIS2-16762] [2.41]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/i18n/I18nFormat.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv9AutoTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/i18n/I18nFormatTest.java
Labels: run-api-analytics-tests

#18053 fix: getOptionCodePropertyMap now returns translated value if necessary [DHIS2-16208][2.40]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/option/OptionSet.java
Labels: run-api-analytics-tests

#18054 fix: getOptionCodePropertyMap now returns translated value if necessary [DHIS2-16208][2.41]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/option/OptionSet.java
Labels: run-api-analytics-tests

#18051 fix: getOptionCodePropertyMap now returns translated value if necessary [DHIS2-16208]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/option/OptionSet.java
Labels: run-api-analytics-tests

#18035 fix: Validate mandatory attributes only on CREATE [DHIS2-16417]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/tracker/imports/validation/ValidationCode.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/imports/programrule/executor/enrollment/SetMandatoryFieldExecutor.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/imports/validation/validator/ValidationUtils.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/imports/validation/validator/enrollment/AttributeValidator.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/imports/validation/validator/trackedentity/AttributeValidator.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/imports/programrule/executor/enrollment/SetMandatoryFieldExecutorTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/imports/validation/validator/enrollment/AttributeValidatorTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/imports/validation/validator/trackedentity/AttributeValidatorTest.java
Labels: deploy

#18081 fix: skip rounding when dimension has option set [DHIS2-17257] (#17348)
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/TeiListGrid.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/params/dimension/DimensionIdentifier.java
Labels: run-api-tests, run-api-analytics-tests

#18088 Value type org unit in an attribute [2.42-DHIS2-16210]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/data/JdbcEnrollmentAnalyticsManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/table/AbstractEventJdbcTableManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/table/JdbcEventAnalyticsTableManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/event/data/AbstractJdbcEventAnalyticsManagerTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/EventAnalyticsServiceTest.java
Labels: run-api-analytics-tests

#18130 fix: Value type org unit in an attribute [2.41-DHIS2-16210]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/data/JdbcEnrollmentAnalyticsManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/table/AbstractEventJdbcTableManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/table/JdbcEventAnalyticsTableManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/event/data/AbstractJdbcEventAnalyticsManagerTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/EventAnalyticsServiceTest.java
Labels: run-api-analytics-tests

#18142 fix: repeated fields in TE query [DHIS2-17745]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/query/Field.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/tei/query/context/querybuilder/TeiQueryBuilder.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/tei/query/context/sql/RenderableSqlQuery.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/tei/query/context/sql/SqlQueryBuilders.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/tei/query/context/sql/RenderableSqlQueryTest.java
Labels: run-api-analytics-tests

#18177 fix: avoid duplicating fields in TE query [DHIS2-17745]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/query/Field.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/tei/query/context/sql/RenderableSqlQuery.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/tei/query/context/sql/RenderableSqlQueryTest.java
Labels: run-api-tests, run-api-analytics-tests
