Repository dhis2/dhis2-core, pull requests merged in 2025-04, with the labels that each got.

#20504 Analytics flaky test 2.42
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv16AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/aggregated.json
Labels: run-api-analytics-tests

#20501 fix: Analytics e2e tests
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv16AutoTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/generator/scenarios/aggregated.json
Labels: run-api-analytics-tests

#20322 fix: Fix missing keys in parentGraph of EventVisualization [DHIS-19249]
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/event/EventVisualizationController.java
Labels: publish-docker-image

#20522 fix: transactional scopes/slower response [DHIS2-19359]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/cache/OutliersCache.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/TableInfoReader.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/data/DimensionalObjectProvider.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/outlier/data/OutlierQueryParser.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/outlier/data/OutlierRequestValidator.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/outlier/service/AnalyticsOutlierService.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/outlier/service/AnalyticsZScoreOutlierDetector.java
Labels: run-api-analytics-tests

#20491 fix: correctly return apps in the order set in menu management [DHIS2-19124]
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/appmanager/DefaultAppManager.java
Labels: deploy

#20556 chore: Clean up controller.event package in dhis-api [DHIS2-17403]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/Pager.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/webapi/controller/event/webrequest/SortingCriteria.java
  dhis-2/dhis-api/src/test/java/org/hisp/dhis/webapi/controller/event/webrequest/PagingAndSortingCriteriaAdapterTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/common/params/AnalyticsPagingParams.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/EnrollmentAggregateAnalyticsController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/EnrollmentQueryAnalyticsController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/EventAggregateAnalyticsController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/EventQueryAnalyticsController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/trackedentity/TrackedEntityAnalyticsController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/dimension/DimensionFilteringAndPagingService.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/dimension/DimensionsCriteria.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/dimension/PagingAndSortingCriteriaAdapter.java
  dhis-2/dhis-web-api/src/test/java/org/hisp/dhis/analytics/dimension/DimensionFilteringAndPagingServiceTest.java
  dhis-2/dhis-web-api/src/test/java/org/hisp/dhis/webapi/dimension/PagingAndSortingCriteriaAdapterTest.java
Labels: run-api-analytics-tests

#20602 fix: invalid column names in rs* table and Doris
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/CategoryResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/DataElementGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/IndicatorGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/OrganisationUnitGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/util/ColumnNameUtils.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/BaseResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/CategoryResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/DataElementGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/IndicatorGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/OrganisationUnitGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/util/ColumnNameUtilsTest.java
Labels: run-api-analytics-tests, intergity-checks

#20609 fix: invalid column names in rs* table and Doris [patch/2.42.0]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/CategoryResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/DataElementGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/IndicatorGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/OrganisationUnitGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/util/ColumnNameUtils.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/BaseResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/CategoryResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/DataElementGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/IndicatorGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/OrganisationUnitGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/util/ColumnNameUtilsTest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/analytics/aggregate/AnalyticsQueryDv16AutoTest.java
Labels: run-api-analytics-tests

#20610 fix: invalid column names in rs* table and Doris [2.42]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/CategoryResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/DataElementGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/IndicatorGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/table/OrganisationUnitGroupSetResourceTable.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/resourcetable/util/ColumnNameUtils.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/BaseResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/CategoryResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/DataElementGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/IndicatorGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/table/OrganisationUnitGroupSetResourceTableTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/resourcetable/util/ColumnNameUtilsTest.java
Labels: run-api-analytics-tests

#20596 chore: update Syrian flag (v42.0) (#20574)
  dhis-2/dhis-web-server/src/main/resources/static/dhis-web-commons/flags/syria.png
Labels: backport

#20636 fix: use value type semantics in /tracker/trackedEntities?filter comparisons DHIS2-19347
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/export/JdbcPredicate.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/export/event/EventQueryParams.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/export/event/JdbcEventStore.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/export/trackedentity/HibernateTrackedEntityStore.java
  dhis-2/dhis-services/dhis-service-tracker/src/main/java/org/hisp/dhis/tracker/export/trackedentity/TrackedEntityQueryParams.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/export/JdbcPredicateTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/export/event/EventOperationParamsMapperTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/export/event/EventQueryParamsTest.java
  dhis-2/dhis-services/dhis-service-tracker/src/test/java/org/hisp/dhis/tracker/export/trackedentity/TrackedEntityOperationParamsMapperTest.java
  dhis-2/dhis-support/dhis-support-system/src/main/java/org/hisp/dhis/system/util/SqlUtils.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/tracker/export/FilterExporterTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/tracker/export/event/EventExporterTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/tracker/export/trackedentity/TrackedEntityServiceTest.java
  dhis-2/dhis-web-api/src/main/resources/openapi/EventsExportController.md
  dhis-2/dhis-web-api/src/main/resources/openapi/TrackedEntitiesExportController.md
Labels: deploy

#20657 fix: make sure apps are loaded outside war files
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/appmanager/BundledAppStorageService.java
Labels: backport

#20674 fix: Respect order of periods selected in Visualization [DHIS2-19455]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/BaseAnalyticalObject.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/report/Report.java
  dhis-2/dhis-api/src/test/java/org/hisp/dhis/report/ReportTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/EventDataQueryService.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dimension/DefaultDimensionService.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/eventchart/hibernate/EventChart.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/eventreport/hibernate/EventReport.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/eventvisualization/hibernate/EventVisualization.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/mapping/hibernate/MapView.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/report/hibernate/Report.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/visualization/hibernate/Visualization.hbm.xml
  dhis-2/dhis-services/dhis-service-dxf2/src/main/java/org/hisp/dhis/dxf2/metadata/DefaultAnalyticalObjectImportHandler.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/dimension/DimensionServiceTest.java
Labels: run-api-analytics-tests

#20709 feat: Add support for identifying invalid numeric outliers
  dhis-2/dhis-services/dhis-service-validation/src/main/java/org/hisp/dhis/outlierdetection/OutlierDetectionAlgorithm.java
  dhis-2/dhis-services/dhis-service-validation/src/main/java/org/hisp/dhis/outlierdetection/OutlierValue.java
  dhis-2/dhis-services/dhis-service-validation/src/main/java/org/hisp/dhis/outlierdetection/processor/InvalidNumericPatternSqlStatementProcessor.java
  dhis-2/dhis-services/dhis-service-validation/src/main/java/org/hisp/dhis/outlierdetection/service/DefaultOutlierDetectionService.java
  dhis-2/dhis-services/dhis-service-validation/src/main/java/org/hisp/dhis/outlierdetection/service/InvalidNumericPatternOutlierDetectionManager.java
  dhis-2/dhis-services/dhis-service-validation/src/test/java/org/hisp/dhis/outlierdetection/processor/InvalidNumericPatternSQLStatementProcessorTest.java
Labels: run-api-analytics-tests

#20736 fix: Nepali month days mapping [DHIS2-18268]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/calendar/impl/NepaliCalendar.java
Labels: run-api-analytics-tests

#20785 fix: PI Disag non-DataValueSet [DHIS2-18745]
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/data/JdbcEventAnalyticsManager.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/data/programindicator/disag/PiDisagInfoInitializer.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/data/programindicator/disag/PiDisagQueryGenerator.java
  dhis-2/dhis-services/dhis-service-analytics/src/test/java/org/hisp/dhis/analytics/event/data/AbstractJdbcEventAnalyticsManagerTest.java
  dhis-2/dhis-test-e2e/src/test/resources/junit-platform.properties
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/EventAnalyticsServiceTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/programindicator/disag/AbstractPiDisagTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/programindicator/disag/PiDisagDataHandlerTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/programindicator/disag/PiDisagInfoInitializerTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/programindicator/disag/PiDisagQueryGeneratorTest.java
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/analytics/event/data/programindicator/disag/PiDisagRecommendedDimensionsTest.java
Labels: run-api-analytics-tests

#20804 fix: Respect order of periods selected in Visualization [DHIS2-19455]
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/common/BaseAnalyticalObject.java
  dhis-2/dhis-api/src/main/java/org/hisp/dhis/report/Report.java
  dhis-2/dhis-api/src/test/java/org/hisp/dhis/report/ReportTest.java
  dhis-2/dhis-services/dhis-service-analytics/src/main/java/org/hisp/dhis/analytics/event/EventDataQueryService.java
  dhis-2/dhis-services/dhis-service-core/src/main/java/org/hisp/dhis/dimension/DefaultDimensionService.java
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/eventchart/hibernate/EventChart.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/eventreport/hibernate/EventReport.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/eventvisualization/hibernate/EventVisualization.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/mapping/hibernate/MapView.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/report/hibernate/Report.hbm.xml
  dhis-2/dhis-services/dhis-service-core/src/main/resources/org/hisp/dhis/visualization/hibernate/Visualization.hbm.xml
  dhis-2/dhis-services/dhis-service-dxf2/src/main/java/org/hisp/dhis/dxf2/metadata/DefaultAnalyticalObjectImportHandler.java
  dhis-2/dhis-test-e2e/src/test/resources/junit-platform.properties
  dhis-2/dhis-test-integration/src/test/java/org/hisp/dhis/dimension/DimensionServiceTest.java
Labels: run-api-analytics-tests

#20822 fix: support any installed or bundled app as start module
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/IndexController.java
Labels: deploy

#20824 fix: support any installed or bundled app as start module (DHIS2-19527) [42.0]
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/BaseE2ETest.java
  dhis-2/dhis-test-e2e/src/test/java/org/hisp/dhis/login/LoginTest.java
  dhis-2/dhis-test-web-api/src/test/java/org/hisp/dhis/webapi/controller/security/AuthenticationControllerTest.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/IndexController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/controller/security/AuthenticationController.java
  dhis-2/dhis-web-api/src/main/java/org/hisp/dhis/webapi/filter/GlobalShellFilter.java
Labels: deploy
